@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
    font-family: 'time';
    src: url('../fonts/clock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Arial, sans-serif;
}

body{
    background-color:#21222C;
    color: white;
    margin: 0;
    padding: 0;
}

.app-calculator{
    height: auto;
    background-color:#313442;
    width:auto;
    margin: auto;
    margin-top: 2em;
    padding:2em;
    display:grid;
}

.btn-number{
    display: inline-block;
}

.btn-especials{
    display: inline-block;
}

nav{
    background-color:#262833;
    color: black;
    display: flex;
    height: 1em;
    padding:0.5em;
    font-size: 4vw;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: 2vh;
}